.btn-blue{
	background-color: $oceanblue;
	color: $white;
}

.btn-dark{
	border-color: $black;
    background-color: $black;
    border-radius: 0px;
}

.btn-header{
	padding-top: 60px;
	padding-right: 40px;
}